#searchForm {
    padding-right: 8px;
    padding-top: 8px;
    float: right;
}

#resultList {
    padding-left: 70%;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
    max-height: 368px;
}

.bannerPanel {
    width: 100%;
    height: 320px;
    padding: 0;
    display: flex;
    align-content: space-around;
}

#mostTopPanel0 {
    width: 60%;
    height: 256px;
    background-color: darkseagreen;
}

#modeTopPanel12 {
    width: 240px;
    height: 256px;
    background-color: darkseagreen;
}

@media screen and (max-width: 479px) {
    .bannerPanel {
        height: 200px;
    }
    #mostTopPanel0 {
        height: 152px;
    }
}

@media screen and (min-width:480px) and (max-width: 639px) {
    .bannerPanel {
        height: 240px;
    }
    #mostTopPanel0 {
        width: 60%;
        height: 176px;
    }
}

@media screen and (min-width:640px) and (max-width: 959px) {
    .bannerPanel {
        height: 320px;
    }
    #mostTopPanel0 {
        width: 60%;
        height: 252px;
    }
}

@media screen and (min-width:960px) and (max-width: 1279px) {
    .bannerPanel {
        height: 320px;
    }
    #mostTopPanel0 {
        width: 60%;
        height: 252px;
    }
}

@media screen and (min-width: 1280px) {}
