---
layout: page
title: 胡思乱想
permalink: /mind/
---

<main class="home" id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
  <div id="grid" class="row flex-grid">
    {% assign articles = site.articles %}
    {% assign articles = articles | sort: date | reverse %}
    {% for post in articles %}
      <article class="box-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <div class="box-body">
          <div class="box-info">
            <meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="post-title" itemprop="name">
                {{ post.title }}
              </h2>
            </a>
            <time itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}" class="date">
              {% include date.html date=post.date %}
            </time>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              <p class="description">{{ post.excerpt }}</p>
            </a>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</main>