<div class="disqus-comments">
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
id: '{{ page.id }}', // 可选。默认为 location.href
owner: '{{ gitment.owner }}',
repo: '{{ gitment.repo }}',
oauth: {
    client_id: '{{ gitment.client_id }}',
    client_secret: '{{ gitment.client_secret }}',
},
})
gitment.render('container')
</script>
</div>
