<p>
    <a href="https://mvp.microsoft.com/en-us/PublicProfile/5003225" target="_blank" Title="Walter Lv ( 吕毅 )">
        <img class="avatar-logo" src="https://mvp.microsoft.com/Content/Images/mvp-banner.png" alt="MVP">
    </a>
</p>
<p>
    <ul>
        <li>
            <a target="_blank" href="mailto:walter.lv@qq.com" style="background-color:#d32c26; border:medium none; color:#fff; display:block; font-size:18px; line-height:1.33; margin:5px auto 15px; padding:10px 0; text-align:center">发邮件@walterlv</a>
        </li>
        <li>
            <a target="_blank" href="https://walterlv.com/" style="background-color:#2073a4; border:medium none; color:#fff; display:block; font-size:18px; line-height:1.33; margin:5px auto 15px; padding:10px 0; text-align:center">个人站点</a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/walterlv" style="background-color:#24292e; border:medium none; color:#fff; display:block; font-size:18px; line-height:1.33; margin:5px auto 15px; padding:10px 0; text-align:center">GitHub</a>
        </li>
        <li>
            <a target="_blank" href="https://twitter.com/_lvyi_" style="background-color:#43aba0; border:medium none; color:#fff; display:block; font-size:18px; line-height:1.33; margin:5px auto 15px; padding:10px 0; text-align:center">Twitter</a>
        </li>
        <li>
            <a target="_blank" href="https://walterlv.gitee.io/friends/" style="background-color:#aeafb1; border:medium none; color:#fff; display:block; font-size:18px; line-height:1.33; margin:5px auto 15px; padding:10px 0; text-align:center">博客友链</a>
        </li>
        <li>
            <a target="_blank" href="ms-windows-store://pdp/?productid=9P8LNZRNJX85" style="background-color:#279eda; border:medium none; color:#fff; display:block; font-size:18px; line-height:1.33; margin:5px auto 15px; padding:10px 0; text-align:center">标识符命名工具 Whitman</a>
        </li>
    </ul>
</p>
<p>
    本专栏所有文章均为原创，采用
    <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>
    进行许可。如在阅读过程中有任何疑问，欢迎评论或
    <a href="mailto:walter.lv@qq.com">与我联系(walter.lv@qq.com)</a>
    。
</p>