<p>
    <a href="https://mvp.microsoft.com/en-us/PublicProfile/5003225" target="_blank" Title="Walter Lv ( 吕毅 )">
        <img class="avatar-logo" src="https://img-blog.csdnimg.cn/20190323130450817.png" alt="MVP">
    </a>
</p>
<p>
    <ul>
        <li>
            <a target="_blank" href="mailto:walter.lv@qq.com" Title="mailto:walter.lv@qq.com">
                <img src="https://img-blog.csdnimg.cn/2019032313062188.png" alt="mailto:walter.lv@qq.com">
            </a>
        </li>
        <li>
            <a target="_blank" href="mailto:walter.lv@qq.com" Title="mailto:walter.lv@qq.com">
                <img src="https://img-blog.csdnimg.cn/20190323130125805.png" alt="mailto:walter.lv@qq.com">
            </a>
        </li>
        <li>
            <a target="_blank" href="https://blog.walterlv.com/" Title="https://blog.walterlv.com/">
                <img src="https://img-blog.csdnimg.cn/20190323130139582.png" alt="https://blog.walterlv.com/">
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/walterlv" Title="前往 GitHub">
                <img src="https://img-blog.csdnimg.cn/20190323130151530.png" alt="前往 GitHub">
            </a>
        </li>
        <li>
            <a target="_blank" href="https://twitter.com/_lvyi_" Title="前往 Twitter">
                <img src="https://img-blog.csdnimg.cn/20190323130201786.png" alt="前往 Twitter">
            </a>
        </li>
        <li>
            <a target="_blank" href="https://walterlv.gitee.io/friends/" Title="查看博客友链">
                <img src="https://img-blog.csdnimg.cn/20190323130218313.png" alt="查看博客友链">
            </a>
        </li>
        <li>
            <a target="_blank" href="ms-windows-store://pdp/?productid=9P8LNZRNJX85" Title="前往商店下载 Whitman">
                <img src="https://img-blog.csdnimg.cn/20190323130228479.png" alt="前往商店下载 Whitman">
            </a>
        </li>
    </ul>
</p>