<p>
  本文会经常更新，请阅读原文：
  <a href="{{ site.baseurl }}{{ page.url }}">{{ site.url }}{{ site.baseurl }}{{ page.url }}</a>
  ，以避免陈旧错误知识的误导，同时有更好的阅读体验。
</p>
<p>
  <a rel="知识共享许可协议" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
    <img alt="知识共享许可协议" src="{{ site.url }}{{ site.baseurl }}{{ site.license.img }}" />
  </a>
</p>
<p>
  本作品采用
  <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>
  进行许可。欢迎转载、使用、重新发布，但务必保留文章署名
  {% if page.post_author %}{{ page.post_author }}{% else %}{{ page.author }}{% endif %}
  （包含链接：
  <a href="{{ site.url }}">{{ site.url }}</a>
  ），不得用于商业目的，基于本文修改后的作品务必以相同的许可发布。如有任何疑问，请
  <a href="mailto:{{ site.mail }}">与我联系 ({{ site.mail }})</a>
  。
</p>