<header class="bar-header">
  <a id="menu">
    <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
  </a>
  {% for link in site.links-light %}
    <a class="navigation" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" title="{{ link.title }}">
      <svg class="icon-menu mobile-only"><use xlink:href="#icon-{{ link.icon }}"></use></svg>
      <span class="desktop-only">{{ link.title }}</span>
    </a>
  {% endfor %}
  <a id="theme" class="navigation" title="切换黑白主题 (beta)" onclick="document.body.classList.toggle('dark-theme');" ontouchstart="document.body.classList.toggle('dark-theme');">
    <svg class="icon-menu mobile-only"><use xlink:href="#icon-menu"></use></svg>
    <span class="desktop-only">切换黑白主题 (beta)</span>
  </a>
  <a id="search" class="dosearch">
    <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
  </a>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
