<script src="https://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="{{ site.baseurl }}/assets/js/toc.js"></script>
<script>
  var url=document.referrer;
  var comefrombaidu = false;
  if (url && (url.search("https://")>-1 || url.search("http://")>-1)) {
    var refurl =  url.match(/:\/\/(.[^/]+)/)[1];
    if(refurl.indexOf("baidu.com")>-1){
      comefrombaidu = true;
    }
  }
  // 判断非本机且未使用 https 时，强制重定向到 https。
  // if (!comefrombaidu && (!window.location.host.startsWith("localhost")) && (window.location.protocol != "https:"))
  //   window.location = window.location.toString().replace(/^http:/, "https:");
</script>
<script type="text/javascript">
  // 生成目录。
  $(document).ready(function() {
    $('#toc').toc();
  });
</script>