<div class="splitview-pane flex-cont flex-ver">
    <div class="split-pane-head">

    </div>
    <div class="split-pane-nav flex-item flex-cont flex-ver">
        <a class="flex-cont nav-item" href="{{ site.baseurl }}">
            <i class="split-nav-icon"></i><span>Products</span>
        </a>
        <a class="flex-cont nav-item nav-item-selected" href="{{ site.baseurl }}">
            <i class="split-nav-icon"></i><span>Blogs</span>
        </a>
        <a class="flex-cont nav-item" href="{{ site.baseurl }}">
            <i class="split-nav-icon"></i><span>Links</span>
        </a>
        <a class="flex-cont nav-item" href="https://github.com/walterlv">
            <i class="split-nav-icon"></i><span>GitHub</span>
        </a>
    </div>
    <div class="split-pane-sys flex-cont flex-ver">
        <a class="flex-cont nav-item" href="{{ site.baseurl }}/about/">
            <i class="split-nav-icon"></i><span>About</span>
        </a>
        <a class="flex-cont nav-item" href="{{ site.baseurl }}">
            <i class="split-nav-icon"></i><span>Unpin</span>
        </a>
    </div>
</div>