a.navLink {
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    padding-top: 12px;
    padding-bottom: 4px;
    background-color: transparent;
}

a.navLink:link {
    color: gray;
}

a.navLink:visited {
    color: gray;
}

a.navLink:active {
    color: black;
}

a.navLink:hover {
    color: black;
}

a.is-selected {
    color: black;
    border-bottom-width: 4px;
}