---
title: Blogs
layout: default
sitemap: false
---

{% if paginator.page == 1 %}
<section id="one" >
    <div class="container">
        {% for post in paginator.posts limit:1 %}
            <div>
                <header>
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                </header>
                <section style="font-size: 0.8em">
                    {% if post.date_modified %}{{ post.date_modified | date: "%Y-%m-%d %H:%M" }}{% else %}{{ post.date | date: "%Y-%m-%d %H:%M" }}{% endif %}
                </section>
                <section class="excerpt">
                    {{ post.excerpt }}
                </section>
                <section class="special">
                    <ul class="actions">
                        <li><a href="{{ post.url }}" class="button special">Read More</a></li>
                    </ul>
                </section>
            </div>
        {% endfor %}
    </div>
</section>

<section id="two">
    <div class="container">
        <div class="features">
        {% for post in paginator.posts offset:1 %}
            <div>
                <section class="excerpt">
                    <header>
                        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    </header>
                    <section style="font-size: 0.75em">
                        <span>{{ post.date | date: "%Y-%m-%d %H:%M" }}</span>
                        <span style="margin: 0 0 0 2em">{% if post.date_modified %}last edit: {{ post.date_modified | date: "%Y-%m-%d %H:%M" }}{% endif %}</span>
                    </section>
                    {{ post.excerpt }}
                </section>
                <footer>
                    <ul class="actions">
                        <li><a href="{{ post.url }}" class="button">Read More</a></li>
                    </ul>
                </footer>
                <div class="clear"></div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% if paginator.page != 1 %}
<section id="one">
    <div class="container">
        <div class="features">
        {% for post in paginator.posts %}
            <div>
                <section class="excerpt">
                    <header>
                        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    </header>
                    <section style="font-size: 0.75em">
                        <span>{{ post.date | date: "%Y-%m-%d %H:%M" }}</span>
                        <span style="margin: 0 0 0 2em">{% if post.date_modified %}last edit: {{ post.date_modified | date: "%Y-%m-%d %H:%M" }}{% endif %}</span>
                    </section>
                    {{ post.excerpt }}
                </section>
                <footer>
                    <ul class="actions">
                        <li><a href="{{ post.url }}" class="button">Read More</a></li>
                    </ul>
                </footer>
                <div class="clear"></div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endif %}


<section id="three">
    {% if paginator.total_pages > 1 %}
        <ul class="pagination">
            {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                    <li><a href="/blog">&larr;</a></li>
                {% else %}
                    <li><a href="{{ paginator.previous_page_path }}/">&larr;</a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a>&larr;</a></li>
            {% endif %}
            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <li class="active"><a>{{ page }}</a></li>
                {% elsif page == 1 %}
                    <li><a href="/blog">1</a></li>
                {% else %}
                    <li><a href="{{ site.paginate_path | replace: ':num', page }}/">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path }}/">&rarr;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&rarr;</a></li>
            {% endif %}
        </ul>
    {% endif %}
</section>