<html>

<head>
    <link rel="stylesheet" href="lib/css/reset.css" />
    {% include head.html %}
    <link rel="stylesheet" href="styles/color.css" />
    <link rel="stylesheet" href="styles/layout.css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="root-panel flex-cont">
        <div class="splitview-pane flex-cont flex-ver">
            <div class="split-pane-head">

            </div>
            <div class="split-pane-nav flex-item flex-cont flex-ver">
                <a class="flex-cont nav-item nav-item-selected">
                    <i class="empty-nav-icon"></i><span>Products</span>
                </a>
                <a class="flex-cont nav-item">
                    <i class="empty-nav-icon"></i><span>Blogs</span>
                </a>
                <a class="flex-cont nav-item">
                    <i class="empty-nav-icon"></i><span>Links</span>
                </a>
                <a class="flex-cont nav-item">
                    <i class="empty-nav-icon"></i><span>GitHub</span>
                </a>
            </div>
            <div class="split-pane-sys flex-cont flex-ver">
                <a class="flex-cont nav-item">
                    <i class="empty-nav-icon"></i><span>About</span>
                </a>
                <a class="flex-cont nav-item">
                    <i class="empty-nav-icon"></i><span>Unpin</span>
                </a>
            </div>
        </div>
        <div class="splitview-body flex-item">
            <div id="bannerText">
                Building...<br/>正在构建……<br/>正在開發……<br/>開発中……
                <br/>
                {{ content }}
            </div>
        </div>
    </div>
</body>

</html>