---
layout: default
---

<div class="post-artical">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <div class="post-meta flex-cont">
        <div class="post-meta-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <a itemprop="name" href="https://github.com/{% if page.author %}{{ page.author }}{% else %}walterlv{% endif %}/">
                {% if page.author %}
                {{ page.author }}
                {% else %}
                walterlv
                {% endif %}
            </a>
        </div>
        <div class="flex-item">
            {% if page.date_modified %}
            <time datetime="{{ page.date_modified | date_to_xmlschema }}" itemprop="dateModified">
                {{ page.date_modified | date: "%Y-%m-%d %H:%M" }}
            </time>
            {% else %}
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateModified">
                {{ page.date | date: "%Y-%m-%d %H:%M" }}
            </time>
            {% endif %}
        </div>
      </div>
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

  </article>
</div>