.theme-border {
    border-style: solid;
    border-color: lightgray;
}

.theme-border-accent {
    border-style: solid;
    border-color: rgb(2, 113, 188);
}

.theme-background {
    background-color: white;
}

.theme-background-alpha {
    background-color: rgba(255, 255, 255, 0.9);
}

.theme-background-accent {
    background-color: rgb(2, 113, 188);
}

.theme-background-accent-alpha {
    background-color: rgba(2, 113, 188, 0.9);
}

.theme-background-holder {
    background-color: dimgray;
}

.theme-foreground {
    background-color: black;
}

.theme-foreground-accent {
    background-color: white;
}