/* 基础样式 */

.flex-cont {
    /* flexbox 的父元素 */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flex-ver {
    /* flexbox 垂直方向 */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.flex-item {
    /* flexbox 的子元素 */
    -webkit-box-flex: 1;
    -webkit-flex:1;
    flex: 1;
}

.body {
    font-family: 'lucida grande','lucida sans unicode',lucida,helvetica,'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei',sans-serif;
}

/* 导航样式 */

.splitview-pane {
    width: 240px;
    height: 100%;
    position: fixed;
    background-color: rgba(49, 48, 41, 0.95);
    font-family: 'Microsoft Yahei Light', 'Helvetica',Arial, Helvetica ,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}

.split-pane-head {
    height: 80px;
}

.nav-title {
    line-height: 40px;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
}

a.nav-item {
    line-height: 40px;
    text-justify: middle;
    text-decoration: none;
    color: rgb(228, 228, 228);
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-left-width: 8px;
}

a.nav-item-selected {
    color: rgb(2, 113, 188);
    background-color: white;
    border-color: rgb(2, 113, 188);
    font-family: 'Helvetica',Arial, Helvetica ,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}

.split-nav-icon {
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: "Segoe MDL2 Assets";
}

.split-pane-sys {
    height: 80px;
}

.splitview-colpane {
    height: 0px;
    visibility: hidden;
    background-color: rgba(49, 48, 41, 0.95);
    font-family: 'Microsoft Yahei Light', 'Helvetica',Arial, Helvetica ,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}

a.nav-col-item {
    line-height: 40px;
    text-justify: middle;
    text-decoration: none;
    color: rgb(228, 228, 228);
}

/* 内容样式 */

.splitview-body {
    padding-left: 240px;
}

.split-body {
    /* 内容水平居中 */
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* 内容垂直居中
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; */
}

.split-content {
    width: 80%;
}

/* 文章样式 */

.post-list-item {
    padding-top: 8px;
    padding-bottom: 16px;
}

a.post-list-item-head {
    font-size: 120%;
    line-height: 40px;
    text-justify: middle;
    color: black;
    background-color: transparent;
    border-color: rgb(2, 113, 188);
    border-style: solid;
    border-left-width: 8px;
    padding-left: 8px;
}

.post-list-item-date {
    font-size: 80%;
}

/* 文章 */

.post-artical {
    padding: 40px 24px;
}

.post-title {
    font-size: 140%;
}

.post-meta {
    width: 100%;
    font-size: 80%;
    color: gray;
}

.post-meta-author {
    padding-right: 16px;
}

.post-content {
    font-size: 90%;
}

/* 特殊样式 */

#dev-panel {
    font-size: 100%;
    color: white;
    background-color: rgb(2, 113, 188);
    font-family: 'Microsoft Yahei Light', 'Helvetica',Arial, Helvetica ,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}

#dev-text {
    text-align: center;
}

/* 多设备适应 */

@media screen and (max-device-width: 500px) {

.splitview-pane {
    visibility: hidden;
    width: 0;
}

.splitview-colpane {
    height: 40px;
    visibility: visible;
}

.splitview-body {
    padding-left: 0px;
}

.split-content {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

.post-list-item {
    padding-top: 2px;
    padding-bottom: 40px;
}

a.post-list-item-head {
    font-size: 100%;
    line-height: 24px;
    border-left-width: 3px;
    padding-left: 8px;
    color: rgb(2, 113, 188);
    text-decoration: none;
}

.post-artical {
    padding: 16px 8px;
}

.flex-ver-mobileonly {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

#dev-panel {
    height: 0;
    visibility: hidden;
}

}
