body {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-image: url("http://s.cn.bing.net/az/hprichbg/rb/MarmosetDad_ZH-CN13409579692_1920x1080.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}